* {
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  height: 100vh;
}

section,
header,
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  max-width: 90%;
  width: 1200px;
  display: flex;
  flex-direction: column;
}