* {
  box-sizing: border-box;
  -webkit-appearance: none;
}

section,
header,
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  max-width: 90%;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.daily-calories__header {
  font-size: 35px;
  padding-top: 4.5vh;
}

.calories__stats {
  width: 100%;
  justify-content: space-around;
  display: flex;
  padding: 30px 0;
}

.calories__elements {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 40px;
}

.calories__element {
  font-size: 18px;
}

.calories__element__name {
  color: #a5a5a5;
  padding-bottom: 3px;
}

.meal {
  height: 90px;
  max-height: 11vh;
  border-radius: 20px 7px 35px 0;
  margin-bottom: 12px;
  padding: 0 10px;
  padding-top: 12px;
}

.meal:last-child {
    border-radius: 20px 7px 25px 25px;
}

.meals__breakfast {
  background-color: #98c14b;
}

.meals__lunch {
  background-color: #e3da49;
}

.meals__dinner {
  background-color: #e3b954;
}

.meals__other {
  background-color: #b7b5db;
}

.icon {
  width: 30px;
  height: 30px;
}

.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #98c14b;
}

.navigation-elements {
  display: flex;
  padding: 0 35px;
  justify-content: space-around;
  list-style: none;
  padding-bottom: 35px;
  padding-top: 7px;
}

.nav-element {
  font-size: 20px;
  color: #fff;
}

.nav-element a {
  padding: 5px 13px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.navigation-element__tab-name {
  display: none;
  color: #98c14b;
}

.active {
  background-color: #749538;
}

.active p {
  display: block;
}

.meals__header {
  font-size: 21px;
  color: #fff;
}

.meals__compound {
  margin-bottom: auto;
  opacity: 0.5;
}

.login .container {
  max-height: 100%;
  height: 100vh;
}

.login {
  background: linear-gradient(to right, #024A6C, #217D84);
}

.form {
  width: 400px;
  max-width: 100%;
  margin: auto auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
}

.form input {
  font-weight: 700;
  border: 2px solid rgba(0, 0, 0, 0.285);
  margin: 20px 0;
  padding: 7px;
  width: 100%;
  font-size: 18px;
}

.login-button {
  border: 0 !important;
  color: #fff;
  text-transform: uppercase;
  padding: 10px !important;
  font-size: 20px !important;
  border-radius: 0 !important;
  background: linear-gradient(to right, #0B5E77, #167680);
}

.form-header{
  font-size: 30px;
}

.forgot {
  font-size: 15px;
}

.forgot a {
  color: #3583c7;
  text-decoration: none;
}